version: "3.8"

x-airflow-common: &airflow-common
  image: airflow-env:2.11.0
  build:
    context: ./airflow
    dockerfile: Dockerfile
  env_file:
    - .env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./config:/opt/airflow/config
    - /var/run/docker.sock:/var/run/docker.sock
  user: "${AIRFLOW_UID}:0"
  depends_on:
    postgres:
      condition: service_healthy

x-spark-common: &spark-common
  image: spark-s3:3.5.7
  build:
    context: ./spark
    dockerfile: Dockerfile
  volumes:
    - ./spark/spark_jobs:/opt/spark_jobs
  env_file:
    - .env
  networks:
    - default

services:

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    restart: always

  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    depends_on:
      minio-init:
          condition: service_completed_successfully
    command: >
      bash -c "
      airflow db migrate &&

      airflow users create \
      --username airflow \
      --password airflow \
      --firstname Kamil \
      --lastname Omashev \
      --role Admin \
      --email omashevkamilexample@gmail.com &&

      airflow connections add minio_s3 \
      --conn-type aws \
      --conn-login \"$MINIO_USER_ACCESS_KEY\" \
      --conn-password \"$MINIO_USER_SECRET_KEY\" \
      --conn-extra '{\"endpoint_url\":\"'$S3_ENDPOINT_URL'\",\"region_name\":\"'$AWS_DEFAULT_REGION'\"}' &&

      airflow variables set S3_BUCKET \"$S3_BUCKET\"    
      "
    restart: "no"
  
  airflow-webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8080:8080"
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    restart: always

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_ACCESS_KEY: uoLEWHH8czJvcoxzIjzA
      MINIO_SECRET_KEY: PDGFkp1T0Bm87GKT6YD0lktzqPNIIf1ut7rz1Ola
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "${S3_ENDPOINT_URL}/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s
  

  minio-init:
    image: minio/mc:latest
    container_name: minio-init
    depends_on:
      minio:
        condition: service_healthy

    entrypoint: >
      /bin/sh -c "
      set -e &&
      test -n \"${MINIO_USER}\" &&
      test -n \"${MINIO_PASSWORD}\" &&   
       
      mc alias set local ${S3_ENDPOINT_URL} ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD} &&

      mc mb --ignore-existing local/${S3_BUCKET} &&

      mc admin user add local ${MINIO_USER} ${MINIO_PASSWORD} &&
      mc admin policy attach local readwrite --user ${MINIO_USER} &&
      mc admin accesskey create local airflow_user --access-key ${MINIO_USER_ACCESS_KEY} --secret-key ${MINIO_USER_SECRET_KEY}      
      "

  spark-master:
    <<: *spark-common
    container_name: spark-master
    hostname: spark-master
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.master.Master
    ports:
      - "7077:7077"
      - "8081:8080"
    environment:
      SPARK_MASTER_HOST: spark-master
      SPARK_MASTER_PORT: 7077
  
  spark-worker:
    <<: *spark-common
    hostname: spark-worker
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077
    depends_on:
      - spark-master
    environment:
      SPARK_WORKER_CORES: 4
      SPARK_WORKER_MEMORY: 8g

volumes:
  postgres_data:
  minio_data: